@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {  
    margin: 0px;
    padding: 0px
}

body{
    background: url(img/background.svg);
}
.texto{
    font-family: 'Source Sans Pro', sans-serif;
}
.pc{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}
#foto{  
    width: 250px;
    margin: 3%;
    margin-right: 15%;
    float: right;
    border-right: 300px;
    border-radius: 500%;
}
menu ul{
    position: relative;
}
menu ul li{
    position: relative;
    list-style: none;
    margin: 10px 0px;
}
aside ul{
    position: relative;
}
aside ul li{
    position: relative;
    list-style: none;
    margin: 10px 0px;
}
.row>.col, .row>[class^="col-"] {
    padding-top: .90rem;
    padding-bottom: .90rem;
    background-color: rgba(#fbc50e, 0.90);
    border: 2px solid rgba(39,41,43,0.3);
}
.habilidades{
    width: 100%;
    margin: 10%;
    border: 1px solid;
    padding: 5px;
}
.con{
    width: 100%;
    background-color: #ddd;
}
.skills{
    text-align: center;
    padding: 10px;
    color: black;
    font-weight: bold;
}
.html{
    background-color: #04aa6d;
    animation: fillhtml 2s forwards;
}
.css{
    background-color: red;
    animation: fillcss 2s forwards;
}
.en{
    background-color: rgb(0, 204, 255);
    animation: fillen 2s forwards;
}
@keyframes fillhtml{
    0%{width: 0;}
    100%{width: 90%;}
}
@keyframes fillcss{
    0%{width: 0;}
    100%{width: 70%;}
}
@keyframes fillen{
    0%{width: 0;}
    100%{width: 30%;}
}
@media only screen and (min-width: 992px) {
    #cabeza{
        margin: 1%;
        padding-top: 5%;
        width: 50%;
        background-color: #fbc50e;
        opacity: 0.95;
        display: inline-block;
        text-align: center;
        height: 300px;
    }
}
@media only screen and (max-width: 991px) {
    #cabeza{
        padding: 5%;
        text-align: center;
        margin: auto;
        background-color: #fbc50e;
    }
    #foto{  
        margin: 15%;
        width: 70%;
        /*float: right;*/
        border-right: 300px;
        border-radius: 500%;
    }
}
@media only screen and (max-width: 480px) {
    #foto{  
        margin: 14%;
        width: 70%;
        /*float: right;*/
        border-right: 300px;
        border-radius: 500%;
    }
}